<div>
  <div class="card">
    <h4 class="card-header">{{pageTitle}}</h4>
    <div *ngIf="contract">
      <div class="card-body">
        <div class="wizard">
          <a [routerLink]="['info']"
            routerLinkActive="active">
            Basic Information<span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span>
          </a>
          <a [routerLink]="['form']"
            routerLinkActive="active">
            Contract Form<span [ngClass]="{'fa fa-exclamation': !isValid('form')}"></span>
          </a>
          <a [routerLink]="['post']"
            routerLinkActive="active">
            Post Analysis<span [ngClass]="{'fa fa-exclamation': !isValid('post')}"></span>
          </a>
        </div>
      </div>

      <router-outlet></router-outlet>

      <div class="card-body">
        <div class="form-group row">
          <div class="col-xs-4 ml-3">
            <button class="btn btn-primary btn-fw mr-3"
                    type="button"
                    [disabled]="!isValid()"
                    (click)="save()">
              Save
            </button>
            <button class="btn btn-outline-secondary btn-fw mr-3"
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['/contracts']">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
  </div>

  <ng-template #deactivateModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Lose Unsaved Changes?</h4>
    </div>
    <div class="modal-body">
      <p>You have unsaved changes! Would you like to leave the page and lose them?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.close()">Leave</button>
      <button class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
    </div>
  </ng-template>

</div>